@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  // border: 1px solid yellow;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}



body {
  display: flex;
  margin: 0;
  background-color: #0F0F0F;
  color: #FFE5E5;
}